<ion-card>
  <ion-row>
    <ion-col size="3">
      <img [src]='product.product.img' alt=""> 
    </ion-col>
    <ion-col size="9">
      <ion-text>{{product.product.name}}</ion-text>
      <ion-row>
        <ion-buttons >
          <ion-button (click)="deleteProduct()">
            <ion-icon name="trash-outline" color="danger"></ion-icon>
          </ion-button>
          <ion-button (click)="decrementProduct()">
            <ion-icon name="remove-outline" color="primary"></ion-icon>
          </ion-button>
          <ion-text class="ion-padding">{{product.count}}</ion-text>
          <ion-button (click)="incrementProduct()">
            <ion-icon name="add-outline" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>